<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>메모 게시판</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap">
        <header class="d-flex align-items-center justify-content-between">
            <h1 class="ml-3">Memo</h1>
            <div th:if="${session.userId != null}" class="mr-3">
                <span th:text="${session.userName}">세션 테스트 사용자</span>
                <a href="/user/logout">로그아웃</a>
            </div>
        </header>
        <th:block layout:fragment="contents"></th:block>
        <footer class="d-flex align-items-center justify-content-center">
            <div>
                Copyright 2025. Memo All rights reserved.
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>