<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.memo.user.repository.UserRepository">
    <insert id="insertUser" parameterType="map">
        INSERT INTO
            `user`
        (
            `login_id`
            , `password`
            , `name`
            , `email`
        )
        VALUES
        (
            #{loginId}
            , #{password}
            , #{name}
            , #{email}
        )
    </insert>

    <select id="selectUser" parameterType="map"
    resultType="com.devwork.memo.user.domain.User">
        SELECT
            `id`
            , `login_id`
            , `password`
            , `name`
            , `email`
            , `created_at`
            , `updated_at`
        FROM
            `user`
        WHERE
            `login_id` = #{loginId}
        AND
            `password` = #{password}
    </select>
</mapper>