<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="user-box my-5 p-5 rounded-lg">
                <h2 class="text-center">회원 가입</h2>
                <input type="text" class="form-control mt-2" placeholder="아이디" id="idInput">
                <input type="password" class="form-control mt-2" placeholder="비밀번호" id="passwordInput">
                <input type="password" class="form-control mt-2" placeholder="비밀번호 확인" id="passwordConfirmInput">
                <input type="text" class="form-control mt-2" placeholder="이름" id="nameInput">
                <input type="text" class="form-control mt-2" placeholder="이메일" id="emailInput">
                <button type="button" class="btn btn-secondary btn-block mt-3" id="joinBtn">가입</button>
            </div>
        </section>

    <script layout:fragment="script">
        $("#joinBtn").on("click", function() {
            let id = $("#idInput").val();
            let password = $("#passwordInput").val();
            let passwordConfirm = $("#passwordConfirmInput").val();
            let name = $("#nameInput").val();
            let email = $("#emailInput").val();

            if(id == "") {
                alert("아이디를 입력하세요");
                return;
            }

            if(password == "") {
                alert("비밀번호를 입력하세요");
                return;
            }

            if(password != passwordConfirm) {
                alert("비밀번호가 일치하지 않습니다");
                return;
            }

            if(name == "") {
                alert("이름을 입력하세요");
                return;
            }
            if(email == "") {
                alert("이메일을 입력하세요");
                return;
            }

            $.ajax({
                type:"Post"
                , url:"/user/join-process"
                , data:{"loginId":id, "password":password, "name":name, "email":email}
                , success:function(response) {
                    if(response.result == "success") {
                        location.href = "/user/login";
                    } else {
                        alert("회원가입 실패!");
                    }
                }
                , error:function() {
                    alert("회원가입 에러!");
                }
            });
        });
    </script>
</html>