#wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: #dddddd;
}

.contents {


}

.contents > .user-box {
    width: 400px;
    background-color: #dddddd;
}

.contents > .contents-box {
    width: 800px;
}

footer {
    height: 80px;
    background-color: #dddddd;
}

