<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

    <section layout:fragment="contents" class="contents d-flex justify-content-center">
        <div class="contents-box my-5">
            <h2 class="text-center">메모 상세</h2>
            <input th:value="${memo.title}" value="대충 샘플 제목" id="titleInput" type="text" class="form-control mt-4" placeholder="제목을 입력하세요">
            <textarea th:text="${memo.contents}" id="contentsInput" class="form-control mt-3" rows="12" placeholder="내용을 입력하세요">대충 내용 샘플</textarea>

            <div class="d-flex justify-content-between my-3 ">
                <button type="button" class="btn btn-danger">삭제</button>
                <div class="d-flex">
                    <div><a href="/memo/list" class="btn btn-secondary mr-2">목록으로</a></div>
                    <div><button id="saveBtn" type="button" class="btn btn-secondary">수정</button> </div>
                </div>
            </div>
        </div>
    </section>
</html>