<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

    <section layout:fragment="contents" class="contents d-flex justify-content-center">
        <div class="contents-box my-5">
            <h2 class="text-center">메모 리스트</h2>
            <table class="table text-center my-5">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성 날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="memo, status : ${memoList}">
                        <td th:text="${memo.id}">457</td>
                        <td><a th:text="${memo.title}" th:href="@{/memo/detail(id=${memo.id})}">그냥 제목</a></td>
                        <td th:text="${#temporals.format(memo.createdAt, 'yyyy-MM-dd')}">1975-15-78</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-3">
                <a class="btn btn-secondary" href="/memo/write">메모 쓰기</a>
            </div>
        </div>
    </section>
</html>